{
  "protocol": {{ hive_build_executor_protocol | to_json }},
  "builder_image_id": {{ hive_build_executor_config_digest | to_json }},
  "builder_archive_path": {{ hive_build_executor_archive_dest | to_json }},
  "builder_archive_sha256": {{ hive_build_executor_archive_sha256 | to_json }},
  "builder_archive_bytes": {{ hive_build_executor_archive_bytes | int }},
  "builder_manifest_digest": {{ hive_build_executor_manifest_digest | to_json }},
  "builder_config_digest": {{ hive_build_executor_config_digest | to_json }},
  "runsc_path": {{ hive_build_executor_runsc_path | to_json }},
  "runsc_version": {{ hive_build_executor_runsc_version | to_json }},
  "runsc_sha256": {{ hive_build_executor_runsc_sha256 | to_json }},
  "runsc_sidecar_path": {{ hive_build_executor_runsc_sidecar_path | to_json }},
  "runsc_sidecar_sha256": {{ hive_build_executor_runsc_sidecar_sha256 | to_json }},
  "runsc_runtime_flags": {{ hive_build_executor_runsc_runtime_flags | to_json }},
  "podman_path": {{ hive_build_executor_podman_path | to_json }},
  "podman_sha256": {{ hive_build_executor_podman_sha256 | to_json }},
  "containers_conf_path": {{ hive_build_executor_containers_conf_path | to_json }},
  "containers_conf_sha256": {{ hive_build_executor_containers_conf_sha256 | to_json }},
  "containers_conf_override_path": {{ hive_build_executor_containers_conf_override_path | to_json }},
  "containers_conf_override_sha256": {{ hive_build_executor_containers_conf_override_sha256 | to_json }},
  "oci_hooks_dir": {{ hive_build_executor_oci_hooks_dir | to_json }},
  "network_name": {{ hive_build_executor_network_name | to_json }},
  "network_bridge": {{ hive_build_executor_network_bridge | to_json }},
  "network_subnet": {{ hive_build_executor_network_subnet | to_json }},
  "network_gateway": {{ hive_build_executor_network_gateway | to_json }},
  "network_dns_upstream_ipv4": {{ hive_build_executor_network_dns_upstream_ipv4 | to_json }},
  "network_policy_id": {{ hive_build_executor_network_policy_id | to_json }},
  "network_ipv6": false,
  "runtime_fallback": false,
  "provision_lock_path": {{ hive_build_executor_provision_lock_path | to_json }},
  "network_policy_digest": {{ hive_build_executor_network_policy_digest | to_json }},
  "network_verify_path": {{ hive_build_executor_network_verify_path | to_json }},
  "network_verify_sha256": {{ hive_build_executor_network_verify_sha256 | to_json }},
  "nft_binary": {{ hive_build_executor_nft_binary | to_json }},
  "nft_policy_path": {{ hive_build_executor_nft_policy_path | to_json }},
  "nft_table": {{ hive_build_executor_nft_table | to_json }},
  "nft_bridge_table": {{ hive_build_executor_nft_bridge_table | to_json }},
  "fleet_public_ipv4": {{ hive_build_executor_fleet_public_ipv4 | to_json }},
  "fleet_probe_ipv4": {{ hive_build_executor_fleet_probe_ipv4 | to_json }},
  "builder_uid": {{ hive_build_executor_uid | int }},
  "builder_gid": {{ hive_build_executor_gid | int }},
  "workspace_bytes": {{ hive_build_executor_workspace_bytes | int }}
}
